
*.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentosSaudeController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentosSaudeDetController.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/AccessDenied.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/Login.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/ref/app-web-backend-Mediquei.dll
Projeto/app-web-backend-Mediquei/obj/project.nuget.cache
