
*.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentosSaudeController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentosSaudeDetController.cs
