
*.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentoSaudeDetalhadoApagarController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentosSaudeController.cs
Projeto/app-web-backend-Mediquei/Controllers/TratamentosSaudeDetController.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/AccessDenied.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/Login.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/ref/app-web-backend-Mediquei.dll
Projeto/app-web-backend-Mediquei/obj/project.nuget.cache
Projeto/app-web-backend-Mediquei/.vs/app-web-backend-Mediquei/v16/.suo
Projeto/app-web-backend-Mediquei/obj/app-web-backend-Mediquei.csproj.nuget.dgspec.json
Projeto/app-web-backend-Mediquei/obj/app-web-backend-Mediquei.csproj.nuget.g.props
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.assets.cache
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.csproj.AssemblyReference.cache
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.csproj.CoreCompileInputs.cache
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.csproj.FileListAbsolute.txt
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.dll
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.GeneratedMSBuildEditorConfig.editorconfig
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.genruntimeconfig.cache
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.pdb
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.RazorCoreGenerate.cache
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.Views.dll
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/app-web-backend-Mediquei.Views.pdb
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/apphost.exe
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Home/Privacy.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/AccessDenied.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/Create.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/Delete.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/Details.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/Edit.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/Index.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/Razor/Views/Usuarios/Login.cshtml.g.cs
Projeto/app-web-backend-Mediquei/obj/Debug/net5.0/ref/app-web-backend-Mediquei.dll
Projeto/app-web-backend-Mediquei/obj/project.nuget.cache
