body,html
{
  height: 100%;
  margin: 10;
}

.backgroundInicial
{
  background-image: url("Imagens/medication-calendar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.backgroundCadastroLogin
{
  background-image: url("Imagens/logo.jpeg");
  background-repeat: repeat;
  background-position: unset;
  background-attachment: fixed;
  background-size: 9cm;
}

.formularioCadastro, .formularioLogin
{
  background-color:white;
  
  /* para centralizar*/
  margin: 0 auto;
  width: 400px;
  
  /* para moldar o fundo do formulário*/
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  }